@import url('https://fonts.googleapis.com/css?family=Pacifico|Ubuntu:400,500&display=swap');

body {
  margin: 0;
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
